/* Title */
.title {
    font-size: 6rem;
    font-weight: bold;
    margin-top: 5rem;
    text-align: center; /* Center the title */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

/* Highlight span within title */
.highlight {
    color: #007bff; 
}

/* Subtitle */
.subtitle {
    font-size: 2rem;
    color: #007bff; 
    margin-top: 1rem;
}

/* Search Container */
.search-container {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    /* Centers the search container */
    justify-content: center; 
}

/* Search Input Field */
.search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Search Button */
.search-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Date and Guests Container */
.date-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: center; 
}

/* Date Input Fields */
.date-input {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Guests Input */
.guests-input {
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* "Find Hotels" Button */
.find-hotels-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Sorting Container */
.sort-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: center; 
}

.bg-primary {
    background-color: #6c757d; /* Primary color */
}

.bg-active {
    background-color: #007bff; 
}

.sort-button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.sort-button.text-active {
    color: #000; 
}

.sort-button:hover {
    background-color: #0056b3; 
}

/* Hotel Container */
.hotel-container {
    margin-top: 100px;
    max-width: 1200px; 
    margin: 0 auto; 
}

/* Hotel Item */
.hotel-item {
    margin-bottom: 20px;
    height: 330px; 
    width: 1200px; 
    border-radius: 10px;
    overflow: hidden; 
    display: flex;
    flex-direction: row; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    background-color: #fff; 
}

/* Hotel Info Container */
.hotel-info-container {
    display: flex;
}

/* Hotel Image Container */
.hotel-image-container {
    width: 350px; 
    height: auto; 
    overflow: hidden; 
    position: relative; 
}

/* Hotel Image that fixes the size of image*/
.hotel-image {
    position: absolute; 
    width: auto; 
    height: auto; 
    min-width: 100%; 
    min-height: 120%; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

/* Hotel Details */
.hotel-details {
    padding: 20px; /* Add padding to the details container */
    flex-grow: 1; /* detail container fills remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff; 
}

/* Hotel Name */
.hotel-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    position: relative;
    bottom: 30px;
}

/* Hotel Rating */
.hotel-rating {
    font-size: 14px;
    font-weight: bold;
    color: #fff; 
    margin: 0; /* Remove default margin */
}

.hotel-rating-container {
    position: relative;
    bottom: -130px;
    left: 0;
    background-color: #28a745; 
    padding: 5px 10px; 
    border-radius: 5px; 
    max-width: fit-content;
}

/* Hotel Description */
.hotel-description {
    font-size: 14px;
    color: #000;
    margin-left: 10px; /* Add margin for spacing */
}

/* Define descriptions for different rating ranges */
.hotel-description::before {
    content: attr(data-rating); /* Uses the data-rating attribute as content */
}

/* Define the description text based on rating */
[data-rating='Bad']::before {
    content: 'Bad';
}

[data-rating='Okay']::before {
    content: 'Okay';
}

[data-rating='Decent']::before {
    content: 'Decent';
}

[data-rating='Good']::before {
    content: 'Good';
}

[data-rating='Very Good']::before {
    content: 'Very Good';
}

[data-rating='Excellent']::before {
    content: 'Excellent';
}

/* Hotel Price */
.hotel-price {
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    position: relative;
    bottom: -50px;
    right: -690px;
    padding: 10px; /* Add padding for spacing */
}

.hotel-discount {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    position: relative;
    bottom: 80px;
    right: -570px;
    padding: 10px; /* Add padding for spacing */
    margin-right: -150px;
}
