/* Styling for the search bar */
.searchBar {
  text-align: center; /* Align text to the center */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  width: 30vw; /* Set width to 30% of viewport width */
  padding: 0.5vw 1vw; /* Padding */
  border-radius: 10px; /* Rounded corners */
}

/* Styling for the input field */
input {
  border: 1px solid rgb(0, 0, 0); /* Black border */
  border-radius: 10px; /* Rounded corners */
  padding: 1vw 1vw; /* Padding */
  outline: none; /* Remove default outline */
  margin: 5px; /* Margin */
}

/* Styling for centering elements */
.center {
  text-align: center; /* Center text */
}

/* Styling for the arrows */
.arrow {
  border: solid black; /* Black border */
  border-width: 0 3px 3px 0; /* Border shape for arrow */
  display: inline-block; /* Display as inline-block */
  padding: 3px; /* Padding */
}

/* Styling for the right arrow */
.right {
  transform: rotate(-45deg); /* Rotate arrow to the right */
  -webkit-transform: rotate(-45deg); /* For Safari */
}

/* Styling for the left arrow */
.left {
  transform: rotate(135deg); /* Rotate arrow to the left */
  -webkit-transform: rotate(135deg); /* For Safari */
}

/* Styling for the image containers */
.column {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  width: 33.33%; /* Set width to 33.33% */
}

/* Clear floats after image containers */
.row::after {
  content: ""; /* Empty content */
  clear: both; /* Clear floats */
  display: table; /* Display as table */
}
