.image-gallery {
  flex: 3; /* Gives more space to the image gallery compared to the map */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: -550px; /* Provides space between the gallery and the map */
}
  
  .main-image img {
    width: 100%;    /* This will make the image responsive to the container size */
    height: auto;   /* Maintain aspect ratio */
    max-width: 500px; /* Max width can be adjusted to fit your design */
    max-height: 300px; /* Max height to control the image size */
}

  
  .other-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .thumbnail-image img {
    width: 100px; /* Fixed size for thumbnails */
    height: 100px;
    object-fit: cover;
}
  
  .details-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .details-nav li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  #overview, #amenities {
    text-align: center;  /* Formats amenities */
    margin-bottom: 20px;
  }
  
  .rating {
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
  }
  
  .rating .filled {
      color: gold;
  }
  
  .review-form textarea {
    width: 300px;
    height: 100px;
    margin-top: 10px;
    display: block;  /* Creates proper box to write review in */
    margin-left: auto;
    margin-right: auto;
  }
  
  .review-form button {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .amenities-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .amenity {
    flex: 0 0 50%; /* Two columns */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .review-score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .score {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;  /* Creates green box around score */
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .description {
    font-weight: bold;
  }
  
  .hotel-content {
    display: flex;
    justify-content: space-between; /* Ensures children are spaced out evenly */
    align-items: start; /* Aligns children at the top */
    width: 100%; /* Full width to use all available space */
}


.map-container {
  flex: 1; /* Less space relative to the image gallery */
  padding-left: 20px; /* Space between map and image gallery */
  margin-right: 15px;
}