/* Center everything on the homepage */
header,
main {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
}

/* Style for the search bar */
.searchBar input[type="search"] {
  width: 300px; 
  padding: 10px; 
}

/* Style for the map container */
.map-container {
  margin-top: 20px; 
  margin-right: 475px;
  display: flex;
  justify-content: center; 
}