header,
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchBar input[type="search"] {
  width: 300px;
  padding: 10px;
}

.default-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.map-container {
  margin-top: 20px;
  margin-right: 475px;
  display: flex;
  align-items: center;
  justify-content: center;
}